<div class="container">
    <h1>Welcome back {{user.username}}!</h1>


 <form action="/log-out" method="POST">
                <input type="submit" class="nav-link" value="Log out">
              </form>
</div>